.category-card__container {
  width: 19.563rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  cursor: pointer;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}
.category-card__content {
  padding: 1rem 1rem 0 1rem;
}
.category-card__content-header {
  height: 3rem;
  padding-bottom: 5px;
  font-size: 2rem;
}

.category_card__content-body{
    padding-top: 0;
    font-size: 20px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #1d1d1f;
}
