@import url(../../pages/home/HomePage.css);
.container-0 {
  background-color: white;
}
.main-container {
  max-width: 50%;

  max-width: 10rem;
  background-color: #f5f5f7;
}
.container-main {
  text-align: center;
  background-color: #f5f5f7;
}
.img-container {
  position: relative;
  text-align: center;
  flex-basis: 100%;
  max-width: 100%;
}

.img-container img {
  min-width: 80%;
  height: 50%;
  object-fit: cover;
  background-color: white;
  opacity: 0.8;
}

.content-container {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: left;
  color: black;
}
.pagewrap {
  flex-grow: 1;
}
